page-form-car {
  #formPicture {
    position: relative;
    width: 40vw;
  }

  #content {
    margin-top: 0px;
    background-color: color($colors, darkBlue);
    text-align: center;
  }

  #item {
    background-color: transparent;
    color: white;


  }
  #label {
    color: white;

  }
  #input {

  }

  #nextButton {
   background-color: color($colors, midBlue);
   position: center;
   bottom: 15px;
   padding-left: 25px;
   padding-right: 25px;


 }

 .no-scroll .scroll-content {
    overflow: hidden;
  }

}
