page-home {

  #categoriesButton {
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: color($colors, midBlue);

    text-align: center;
  }

  ion-icon {
    font-size: 50px;
  }

  img {
    padding-top: 50px;
  }


  .content {
      margin-top: 0px;
      background-color: color($colors, darkBlue);
      text-align: center;
  }


  h3 {
      color: white;
      font-size: 16px;
      margin: 0px;
      padding: 15px;
      margin-bottom: 30px;
      line-height: 20px;

  }

  #viewReportsButton {
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: color($colors, midBlue);
    margin-top: 10px;
    margin-right: 10px;


  }

  .no-scroll .scroll-content {
     overflow: hidden;
}










}
