page-camera {



.button {
	background-color: #555555;
	border: none;
	border-radius: 25%;

	display: inline-block;
	position: relative;
	margin: 15px;

	width: 75px;
	height: 75px;
	font-size: 40px;
}

#buttonContainer {
	position: absolute;

	text-align: center;
	bottom: 0;
	width: 100%;
	min-height: 75px;
	height: 150px;
	outline: 1px;
	outline-style: solid;
	outline-color: white;
}

img {
	outline-style: solid;
	outline: 5px;
	outline-color: blue;
	z-index: -1;
	outline:0.3;
}


}

html, body, .ion-app, .ion-content, #ion-content, .ion-app.md, ion-app.md {
  background-color: transparent!important;

}
