page-camera {



.button {
	background-color: #555555;
	border: none;
	border-radius: 25%;

	display: inline-block;
	position: relative;
	margin: 15px;

	width: 75px;
	height: 75px;
	font-size: 40px;
}

#buttonContainer {
	position: absolute;

	text-align: center;
	bottom: 0;
	width: 100%;
	min-height: 75px;
	height: 150px;
	outline: 1px;
	outline-style: solid;
	outline-color: white;
}

#overlayImg {
	outline-style: solid;
	outline: 5px;
	outline-color: blue;
	z-index: -50;
	outline:0.3;
	opacity: 0.2;
}



// html, body, ion-app, ion-content, ion-page, .nav-decor, p {
//   background-color: transparent !important;
//   font-family: 'Dosis', sans-serif;
// }



}

.toast-container {
	background: red;
	z-index: 100;
}





// html, body, .ion-app, .ion-content, #ion-content, .ion-app.md, ion-app.md, ion-view, ion-pane {
//   background-color: transparent !important;
//
// }
