page-camera-confirm {

#ion-content {
	background-color: #555555 !important;
}

.button {
	background-color: #555555;
	border: none;
	border-radius: 25%;

	display: inline-block;
	position: relative;
	margin: 15px;

	width: 75px;
	height: 75px;
	font-size: 40px;
}

#buttonContainer {
	position: absolute;

	text-align: center;
	bottom: 0;
	width: 100%;
	min-height: 75px;
	height: 150px;
	outline: 1px;
	outline-style: solid;
	outline-color: white;
}


#confirmPicture  {
	position: absolute;
	left:0;
	right:0; 

}

}
