.ios, .md {

  page-add-info {

    .scroll {
      height: 50%
    }

    #map {
      width: 50%;
      height: 50%;
    }

    textarea {
      max-width: 100%;
      width: 100%;
      height: 20vh;
    }



  }
}
